<div class="body-container">
  
  <mat-toolbar class="header-content">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Responsive App</h1>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
  
    <mat-sidenav #snav mode="side" opened="true" class="sidenav-content">
      Sidenav content
    </mat-sidenav>
  
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
</div>